:host {
  display: block;
}

.slider {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.tab {
  width: 240px;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(105, 136, 204, 0.09726);
  height: 40px;
  border-radius: 18px;
  margin: 0 9px;
  border-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
  padding: 0;
}

.tab_text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.41px;
  font-weight: 300;
  color: #041543;
  pointer-events: none;
}
.selected .tab_text {
  opacity: 0.6;
}
.selected {
  background: #E4E9F3;
  box-shadow: inset 0px 1px 4px rgba(13, 36, 96, 0.0595845);
}

.filtres_container {
  display: inline-block;
}

.tab:hover {
  opacity: 0.7;
}

.tab:first-child {
  margin: 0 9px 20px;
}

.slide_container {
  width: 100%;
  margin-top: 100px;
}

.slide {
  display: inline-block;
  width: 360px;
  margin: 0 20px 65px;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.3s;
}

.slide:last-child {
  margin: 0 20px 179px;
}

.slide_text {
  color: #041543;
  font-size: 22px;
  line-height: 30px;
}

.slide:hover {
  opacity: 0.7;
}

.slide_img {
  width: 100%;
}

.select_component {
  display: none;
}

@media (max-width: 500px) {
  .tab {
    display: none;
  }

  .select_component {
    display: block;
    background: #E4E9F3;
    border-radius: 25px;
    height: 50px;
  }

  select_component::-ms-expand {
    display: none;
}

  .select_component {
    width: 100%;
  }

  .select_option {
    background: #E4E9F3;
    border-radius: 25px;
    height: 50px;
    width: 100%;
  }

  .filtres_container {
    width: 100%;
  }
}