:host {
  display: block;
}

.select_container {
  display: none;
}

@media (max-width: 500px) {
  .select_container {
    display: block;
    font-size: 0px;
    max-height: 50px;
    height: 100%;
    transition: max-height 0.3s;
    background: #E4E9F3;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
  }

  .select_input {
    pointer-events: none;
    outline: none !important;
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  .select_opened {
    max-height: 200px;
  }

  .select_option {
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #041543;
    letter-spacing: 0.47px;
    width: 100%;
  }

  .select_window {
    padding: 0 25px;
    opacity: 0.6;
    height: 50px;
    width: 100%;
    pointer-events: none;
    font-size: 16px;
    color: #041543;
    letter-spacing: 0.47px;
    line-height: 50px;
  }
}