:host {
  display: block;
}

.select_container {
  display: none;
}

@media (max-width: 500px) {
  .select_container {
    display: block;
    pointer-events: none;
  }

  .select_input {
    pointer-events: none;
    outline: none !important;
    opacity: 0;
  }
}