:host {
  display: block;
}

.select_container {
  display: none;
}

@media (max-width: 500px) {
  .select_container {
    display: block;
    font-size: 0px;
    max-height: 50px;
    height: 100%;
    transition: max-height 0.3s;
    background: #E4E9F3;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
  }

  .bracket_icon {
    position: absolute;
    top: 17px;
    right: 28px;
    transform: rotate(180deg);
    width: 16px;
  }
  
  .m_rotate {
    top: 20px;
    transform: rotate(0)
  }

  .select_opened {
    max-height: 200px;
  }

  .select_option {
    padding: 0 25px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #041543;
    letter-spacing: 0.47px;
    width: 100%;
  }

  .select_option:last-child {
    height: 60px
  }

  .select_window {
    position: relative;
    padding: 0 25px;
    opacity: 0.6;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #041543;
    letter-spacing: 0.47px;
    line-height: 50px;
  }
}