.clients_wrapper {
  background-image: linear-gradient(0deg, #021238 8%, #6B749F 76%);
  border-radius: 0 0 0 100px 0;
  margin-top: -240px;
  padding: 330px 100px 150px;
}

.clients_title {
  font-family: 'Charter-Roman';
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 50px;
}

.clients_logos_wrapper {
  font-size: 0;
  max-width: 760px;
  margin: 0 auto;
}

.clients_img_container {
width: 33%;
display: inline-block;
text-align: center;
margin: 45px 0;
}

.clients_img_container::before {
  vertical-align: middle;
  content: '';
  height: 100%;
  display: inline-block;
}

.clients_img {
  vertical-align: middle;
}

.clients_logos_wrapper .leoni {
  max-width: 100%;
  width: 120px;
}
.clients_logos_wrapper .PGphase {
  max-width: 100%;
  width: 87px;
}
.clients_logos_wrapper .geberit {
  max-width: 100%;
  width: 160px;
}
.clients_logos_wrapper .kesz {
  max-width: 100%;
  width: 87px;
}
.clients_logos_wrapper .kraft {
  max-width: 100%;
  width: 144px;
}
.clients_logos_wrapper .roshen {
  max-width: 100%;
  width: 172px;
}

@media only screen and (max-width: 1024px) {
  .clients_wrapper {
    padding: 330px 50px 150px;   
  }
}

@media only screen and (max-width: 736px) {
  .clients_wrapper {
    padding: 330px 20px 150px;   
  }

  .clients_title {
    font-size: 35px;
    line-height: 40px;
  }

  .clients_img_container {
    width: 50%;
    padding: 0 10px;
  }
}
