.top_part_wrapper {
  position: relative;
  min-height: 860px;
  overflow: hidden;
  background: url("./assets/img/top.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding: 160px 200px;
  z-index: 7;
}

.top_part_title {
  font-family: Charter-Roman;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 1.61px;
  line-height: 60px;
}

.top_part_description {
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
  line-height: 30px;
  margin-top: 40px;
  max-width: 570px;
}

.top_wrapper_links{
  display: none;
}

@media only screen and (max-width: 1024px) {
  .top_part_wrapper {
    padding: 160px 45px;
  }
}

@media only screen and (max-width: 736px) {
  .top_part_wrapper {
    padding: 160px 40px;
    background-image: url("./assets/img/top_mobile.png");
  }
  .top_part_title {
    font-size: 35px;
    letter-spacing: 1.13px;
    line-height: 40px;
  }
  
  .top_wrapper_links{
    display: block;
    margin: 35px 0 100px;
  }
  
  .top_wrapper_link {
    color: #f6b93a;
    font-family: Rubik-Regular;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.53px;
    line-height: 30px;
    text-decoration: underline;
    margin-right: 20px;
  }

  .top_part_description {
    font-size: 18px;
    letter-spacing: 0.53px;
    line-height: 35px;
  }
}