.top_part_wrapper {
  position: relative;
  min-height: 860px;
  overflow: hidden;
  background: url("../../assets/img/top.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  z-index: 7;
}

.top_part_bg {
  min-height: 100%;
  object-fit: cover;
  min-width: 100%;
}

.top_part_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 160px 200px;
  box-sizing: content-box;
}

.top_part_text .top_part_title {
  font-family: Charter-Roman;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 1.61px;
  line-height: 60px;
}

.top_part_text .top_part_description {
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
  line-height: 30px;
  margin-top: 40px;
  max-width: 570px;
}
