.top_part_wrapper {
  position: relative;
}

.top_part_bg {
  background: url("../../assets/img/top.png") top center no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 100%;
}

.top_part_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 300px 260px;
}

.top_part_text .top_part_title {
  font-family: Charter-Roman;
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 1.61px;
  line-height: 60px;
}

.top_part_text .top_part_description {
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.47px;
  line-height: 30px;
  margin-top: 40px;
}
