@font-face {
  font-family: 'Rubik-Bold';
  src: url('/assets/fonts/rubik_bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Roman';
  src: url('/assets/fonts/rubik_regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('/assets/fonts/rubik_light.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Charter-Roman';
  src: url('/assets/fonts/charter_regular.ttf') format('otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
  outline-color: #c4d8f7;
}

*:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

input, textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  font-family: inherit;
  outline: none;
}

button {
  font-family: inherit;
}

html, body {
  width: 100%;
  min-width: 320px;
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  -webkit-overflow-scrolling: touch;
  font-family: 'Rubik', Arial, sans-serif;
}

.m_clicable {
  cursor: pointer;
  transition: opacity 300ms;
}

.m_clicable:hover {
  opacity: 0.7;
}

.intent_mouse button {
  outline: none !important;
}

/* .fade_in_section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade_in_section.is_visible {
  opacity: 1;
  transform: none;
  visibility: visible;
} */

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}