.what_we_do_background {
  position: relative;
  z-index: 5;
}

.what_we_do_desctop_img {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: -1;
}

.what_we_do_mobile_img {
  position: absolute;
  min-width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: -1;
}

.what_we_do_wrapper {
  padding: 50px 100px 190px;
}

.what_we_do_title {
  font-family: 'Charter-Roman';
  font-size: 40px;
  color: #041543;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin: 0;
}

.what_we_do_items_wrapper {
  max-width: 880px;
  margin: 115px auto 0;
  font-size: 0;
  display: flex;
  justify-content: space-around;
}

.what_we_do_items_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 40px) / 2);
  max-width: 400px;
}

.what_we_do_item {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(105,136,204,0.25);
  border-radius: 12px;
  display: inline-block;
  padding: 40px;
  margin-bottom: 40px;
  min-height: calc(50% - 20px);
  box-sizing: border-box;
}

.what_we_do_item_image {
  width: 70px;
  margin-bottom: 25px;
  display: block;
}

.what_we_do_item_title {
  font-family: 'Charter-Roman';
  font-size: 22px;
  color: #041543;
  letter-spacing: 0.51px;
  line-height: 30px;
  margin-bottom: 20px;
}

.what_we_do_item_description {
  opacity: 0.6;
  font-family: 'Rubik';
  font-size: 14px;
  color: #041543;
  letter-spacing: 0.6px;
  line-height: 30px;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .what_we_do_wrapper {
    padding: 70px 50px 190px;
  }
}

@media only screen and (max-width: 736px) {
  .what_we_do_desctop_img {
    display: none;
  }

  .what_we_do_mobile_img {
    display: block;
  }

  .what_we_do_title {
    font-size: 35px;
  }

  .what_we_do_wrapper {
    padding: 50px 20px 250px;
  }
  .what_we_do_items_wrapper {
    margin-top: 75px;
    display: block;
    width: 100%;
  }
  .what_we_do_items_column {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }


  .what_we_do_item:nth-child(odd) {
    margin-bottom: 40px;
  }

  .what_we_do_item {
    max-width: 100%;
  }

  .what_we_do_item_title {
    font-size: 25px;
  }

  .what_we_do_item_description {
    font-size: 16px;
  }
}