:host {
  display: block;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background: #FFFFFF;
  padding: 0 40px;
}

.logo {
  height: 22px;
}

.company_name {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7182px;
  color: #FF4E45;
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .company_name {
    font-size: 12px;
    color: #FF4E45;
    letter-spacing: 0.62px;
    font-weight: 900;
    line-height: 14px;
    letter-spacing: 0.42px;
  }

  .bottom {
    height: 60px;
    background: #F7F7F7;
    padding: 0 20px;
    justify-content: center;
    border-top: 1px solid #E4E9F3;
  }
}