.advantages_wrapper {
  margin-top: -230px;
  padding: 330px 100px 300px;
  background: url("../../assets/img/minimal_architecture_x2.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.advantages_title {
  font-family: Charter-Roman;
  font-size: 40px;
  color: #041543;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}

.advantages_items_wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 65px 0;
  font-size: 0;
  vertical-align: top;
}

.advantages_item {
  display: inline-block;
  width: calc((100% - 120px) / 4);
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(105,136,204,0.07);
  border-radius: 12px;
  height: 240px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 40px;
  vertical-align: top;
}

.advantages_item:first-child {
  margin-bottom: 40px;
}

.advantages_item:first-child,
.advantages_item:nth-child(5) {
  margin-left: 0;
}

.advantages_item:nth-child(2),
.advantages_item:nth-child(3),
.advantages_item:nth-child(6),
.advantages_item:nth-child(7) {
  transform: translateY(60px);
}

.advantages_item_img_wrapper {
  height: 50%;
  text-align: center;
  vertical-align: bottom;
  line-height: 100%;
}

.advantages_item_img_wrapper::before {
  display: inline-block;
  vertical-align: bottom;
  content: '';
  height: 100%;
}

.advantages_item_img {
  display: inline-block;
}

.advantages_item_text {
  padding-top: 25px;
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 14px;
  color: #041543;
  letter-spacing: 0.51px;
  text-align: center;
  line-height: 25px;
  max-width: 200px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .advantages_wrapper {
    padding: 330px 50px 300px;   
  }

  .advantages_item_img_wrapper {
    height: 35%;
  }
}

@media only screen and (max-width: 736px) {
  .advantages_wrapper {
    padding: 330px 20px 200px;   
  }

  .advantages_title {
    font-size: 35px;
    line-height: 40px;
  }


  .advantages_item {
    display: block;
    width: 100%;
    margin: 0 0 20px 0 !important;
    transform: translateY(0) !important;
    padding: 30px;
    height: auto;
  }

  .advantages_item_img_wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }

  .advantages_item_text {
    text-align: left;
    width: 70%;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    padding-left: 30px;
  }
}