.projects_main_wrapper {
  margin-top: -240px;
  position: relative;
  z-index: 4;
}

.projects_main_top_part {
  background-image: linear-gradient(180deg, #6B749F 0%, #021238 91%);
  padding: 330px 180px 220px;
}

.projects_main_title {
  font-family: Charter-Roman;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 77px;
}

.projects_main_achievements {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.projects_main_achievement_item {
  text-align: center;
  max-width: 200px;
}

.projects_main_achievement_image {
  width: 85px;
  display: inline-block;
  margin-bottom: 30px;
}

.projects_main_achievement_item_count {
  font-family: Charter-Roman;
  font-size: 80px;
  color: #FAD390;
  letter-spacing: 2.58px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 30px;
}

.projects_main_achievement_description {
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  text-align: center;
  line-height: 25px;
  width: 165px;
  margin: 0 auto;
}

.projects_main_bottom_part {
  padding: 0 100px 190px;
  text-align: center;
  background: #FFFFFF;
  background: url("./assets/img/projects_x2.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.projects_main_examples {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  transform: translateY(-120px);
}

.projects_main_example_item {
  text-align: center;
  max-width: 360px;
  width: calc((100% - 90px) / 3);
}

.projects_main_example_item_image_wrap {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(105,136,204,0.18);
  border-radius: 12px;
  margin-bottom: 38px;
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
}

.projects_main_example_item_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects_main_example_item_description {
  font-family: Charter-Roman;
  font-size: 22px;
  color: #041543;
  letter-spacing: 0.51px;
  text-align: center;
  line-height: 30px;
}

.projects_main_all_link {
  font-family: Rubik-Regular;
  font-size: 18px;
  color: #F6B93A !important;
  letter-spacing: 0.53px;
  text-align: center;
  line-height: 30px;
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .projects_main_top_part {
    padding: 330px 50px 220px;
  }

  .projects_main_bottom_part {
    padding: 0 50px 190px;
  }
}

@media only screen and (max-width: 736px) {
  .projects_main_achievements {
    display: block;
  }

  .projects_main_title {
    font-size: 35px;
  }

  .projects_main_achievement_description {
    font-size: 16px;
    opacity: 0.6;
    letter-spacing: 0.68px;
    line-height: 25px;
    width: auto;
  }

  .projects_main_bottom_part {
    padding: 0 20px 190px;
  }

  .projects_main_achievement_item {
    margin: 0 auto 64px;
  }

  .projects_main_achievement_item:last-child {
    margin-bottom: 0;
  }

  .projects_main_achievement_item_count {
    font-family: Charter-Light;
    margin-bottom: 10px;
  }

  .projects_main_examples {
    display: block;
    transform: translateY(-65px);
  }
  .projects_main_example_item_description {
    font-size: 25px;
    font-family: Charter-Roman;
    letter-spacing: 0.58px;
    line-height: 30px;
  }

  .projects_main_example_item {
    width: 100%;
    margin: 0 0 75px;
    max-width: 100%;
  }

  .projects_main_example_item:last-child {
    margin-bottom: 0;
  }

  .projects_main_example_item_image {
    margin-bottom: 25px;
  }
}
