.why_trust_wrapper {
  padding: 310px 0 20px;
  font-size: 0;
  overflow: hidden;
  background: url("./assets/img/why_trust_x2.png");
  background-position: bottom;
  background-size: cover;
  margin-top: -230px;
  position: relative;
  z-index: 3;
}

.why_trust_title {
  font-family: Charter-Roman;
  font-size: 40px;
  color: #041543;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 15px;
}

.why_trust_first,
.why_trust_second {
  max-width: 1360px;
  margin: 0 auto;
}

.why_trust_image_block {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.why_trust_first_img {
  width: 100%;
  max-width: 580px;
  margin-left: -60px;
}

.why_trust_first_text {
  width: 50%;
  max-width: 460px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 30px;
}

.why_trust_item_title {
  font-family: Charter-Roman;
  font-size: 22px;
  color: #041543;
  letter-spacing: 0.76px;
  line-height: 30px;
  margin-bottom: 22px;
}

.why_trust_item_descr {
  opacity: 0.6;
  font-family: Rubik-Light;
  font-size: 14px;
  color: #041543;
  letter-spacing: 0.41px;
  line-height: 30px;
}

.why_trust_second {
  text-align: right;
  margin-top: -100px;
}

.why_trust_second_text {
  width: 50%;
  max-width: 460px;
  padding-left: 30px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.why_trust_second_img {
  width: 100%;
  max-width: 580px;
  margin-right: -50px;
}

@media only screen and (max-width: 1024px) {
  .why_trust_second {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 736px) {
  .why_trust_wrapper {
    padding: 310px 0 160px;
  }

  .why_trust_title {
    margin-bottom: 70px;
    font-size: 35px;
  }
  
  .why_trust_image_block {
    width: 100%;
    margin-bottom: 35px;
  }

  .why_trust_first_text,
  .why_trust_second_text {
    padding: 0 40px;
    width: 100%;
  }

  .why_trust_first_text {
    margin-bottom: 95px;
  }

  .why_trust_second {
    display: flex;
    flex-flow: column-reverse;
  }

  .why_trust_second .why_trust_image_block {
    margin-left: -60px;
  }

  .why_trust_second_img {
    margin-right: 0;
  }

  .why_trust_item_title {
    font-size: 25px;
  }

  .why_trust_item_descr {
    font-size: 16px;
  }
}