:host {
  display: block;
}

.contacts_wrapper {
  width: 100%;
  padding: 65px 20px 0;
  box-sizing: border-box;
  background: #F7F9FD;
}
.contacts_container {
  position: relative;
  max-width: 650px;
  width: 100%;
  padding: 59px 0 161px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-family: 'Charter-Roman';
  font-size: 40px;
  color: #041543;
  letter-spacing: 1.29px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto 47px
}

.description {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.51px;
  color: #041543;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.email {
  font-size: 22px;
  text-decoration-line: underline;
  color: #F6B93A;
  cursor: pointer;
  transition: opacity 0.3s;
  font-family: 'Charter-Roman';
  letter-spacing: 0.64px;
  text-align: center;
  line-height: 30px;
}

.email:hover {
  opacity: 0.7;
}

.phones {
 margin: 51px auto 28px;
}

.adress, .phones {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.51px;
  color: #041543 !important;
  max-width: 230px;
}

.phones a {
  display: block;
  color: #041543 !important;
}

.adress {
  margin: 0 auto
}

.arrow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 500px) {
  .contacts_wrapper {
    padding: 30px 20px 0;
  }

  .title {
    font-size: 35px;
    letter-spacing: 0.65px;
  }

  .description {
    font-size: 15px;
    letter-spacing: 1.2px;
    margin-bottom: 3px;
  }

  .email {
    letter-spacing: 2.2px;
    font-size: 22px;
  }

  .phones, .adress {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.91px;
  }

  .phones {
    margin: 41px auto 32px;
  }

  .phones a:first-child {
    margin-bottom: 10px;
  }
}
